#topImage {
	opacity: 0;
}
#quotationContainer,
#assetContainer  {
	width: 100%;
	height: 100%;
	display: flex;
}

/* scrope */
p {
	margin: 0;
}

#side,
#mainTop {
	background-color: white;
}
.phoneItem {
	display: none;
}

/* scrope */



/* side, main */
#side,
#main {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}
#sideTop,
#mainTop  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
}
/* side, main */



/* side */
#sideTop > *:first-child {
	height: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--XLarge);
	font-weight: var(--XBold);
	font-weight: var(--XBoldNo);
}
#sideTop > div > p {
	margin-left: 0.5em;
}
#sideMiddle {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 1em;
}
#sideMiddle #buttonWrapper {
	font-size: var(--XLarge);
	display: flex;
	align-items: flex-start;
/* 	padding: 0.5em 0; */
}
#sideMiddle #buttonWrapper span {
	margin: 0em 0.5em;
}
#sideMiddle .item span{
	width: 100%;
}
#sideMiddle .item:first-child {
/* 	margin-right: 0.5em; */
}
.item .btn-group .dropdown-toggle {
	border-width: 0;
	width: fit-content;
}
.item .dropdown-toggle::after  {
	display: none !important;
}
#sideMiddle .show {
	display: block !important;
}
#sideMiddle .phoneAccount {
	display: none;
}
#sideMiddle #totalSum {
	text-align: end;
	margin-top: auto;
	margin-bottom: 2em;
}
.salesDeletebtn {
	padding-left: 0.5em;
}
#sideBottom{
	text-align: right;
	padding: 1em;
}
.squeeze {
	position: absolute;
	top: 0;
	left: 0;
	width: auto !important;
}
.squeeze #sideTop {
	border-bottom: 2px solid var(--Gray600);
}
.squeeze #sideTop,
.squeeze #sideMiddle,
.squeeze #sideBottom {
	height: 98px;
	padding: 2em 0.5em;
	margin: 0;
}
.squeeze #sideMiddle,
.squeeze #sideBottom {
	border-width : 0;
	background-color: var(--Gray200);
}
.squeeze #sideTop > div,
.squeeze #sideMiddle *,
.squeeze #sideBottom * {
	display: none !important;
}
/* side */



/* main */
#main {
	flex-grow: 1;
}
#mainTop {
	padding-bottom: 0;
	border-bottom: 2px solid var(--Gray600);
}
.phoneHeader {
	flex-grow: 1;
  width: 70%;
	height: 64px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#name {
	width: 95%;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#mainTop > div:first-child > p:first-child {
	height: 32px;
	font-size: var(--XLarge);
	font-weight: var(--XBold);
	font-weight: var(--XBoldNo);
	line-height: 1.3em;
}
#mainTop > div:first-child > p:last-child {
	height: 32px;
	line-height: 1em;
}
#mainTop > div:last-child {
	padding-bottom: 32px;
}
#mainTop > div:last-child > img {
	height: 2em;
}
#emptyTable {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--Gray200);
}
#emptyTable > div {
	width: 40%;
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.starBefore {
	color: white;
	width: 100%;
}
.starBefore::before{
	content: "*";
	color: red;
	margin-right: 0.5em;
}
#mainMiddle {
	height: fit-content;
	justify-content: center;
	background-color: var(--Gray200);
	padding: 2em;
}
#searhBar {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	background-color: var(--Gray100);
	border-radius: 1em;
	padding: 1em 0;
}
#clearButton {
	margin-right: 0.5em;
}
#inputWrapper,
#assetInputWrapper {
	max-height: 86px;
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 1em 0;
	overflow-y: auto;
}
.subContainer .form-check {
	min-width: 400px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0.5em;
	padding: 0 1em;
}
select,
input,
#customers,
.form-select {
	border: 1px solid var(--Gray600);
}
input.dropdownInput[disabled] {
	background-color: var(--Gray300) !important; 
	border: 1px solid var(--Gray600);
}
.betweenInput {
	display: flex;
	flex-grow: 1;
	width: 40%;
	align-items: center;
}
.betweenInput input:first-child {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
#mainMiddle .form-select {
	width: fit-content !important;
	border-right-width: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#inputWrapper input,
#assetInputWrapper input {
	flex-grow: 1;
	width: 60%;
	padding: 6px 12px;
	background-color: white;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: var(--bs-border-radius);
	border-bottom-right-radius: var(--bs-border-radius);
}
.form-check-label + input {
	border-radius: var(--bs-border-radius) !important;
}
#mainMiddle #buttonWrapper {
	display: flex;
	justify-content: flex-end;
	padding: 0 1em;
}
#categoryWrapper {
	height: 100%;
	border: 1px solid var(--Gray600);
}
.itemCategory {
	width: 100%;
	height: 33.33%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.itemCategory > div {
	height: 100%;
	overflow: auto;
}
.itemCategory p {
	padding: 0 0.5em;
	background-color: var(--Gray600);
}
.item {
	display: flex;
	align-items: center;
	padding: 0 0 0 0.5em;
}
#mainMiddle .form-check-label {
	min-width: fit-content;
	display: inline-block;
	text-align: center;
	margin-right: 0.5em;
/* 	min-width: fit-content; */
/* 	margin-right: 0.5em; */
/* 	line-height: 2em; */
}

.dropdown-toggle {
	width: 10em;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 3px;
	background-color: white;
	border-radius: var(--bs-border-radius);
	border: 1px solid var(--Gray600);
}
.item .dropdown-toggle::after {
	margin-top: 2px;
}

.dropdown-item > input {
	margin-right: 0.5em;
}


#mainBottom,
#assetMainBottom {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--Gray200);
	padding: 0 2em 2em 2em;
/* 	border: 1px solid lime; */
}
#assetMainBottom {
	flex-direction: column;
}
#assetMainBottomNote {
	flex-grow: 0 !important;
/* 	font-size: var(--Small); */
/* 	font-weight: var(--XBold); */
/* 	font-weight: var(--XBoldNo); */
/* 	border: 1px solid red; */
}
#mainBottom > *,
#assetMainBottom > * {
	flex-grow: 1;
	min-width: 100% !important;
	display: flex;
	flex-direction: column;
}
div.dataTables_wrapper {
	max-width: 100% !important;
	max-height: calc(100vh - 403px) !important;
	position: relative;
	overflow: auto;
}

#mainBottom #itemTable,
#assetMainBottom #assetItemTable {
	min-width: 100% !important;
}

#mainBottom #itemTable thead,
#assetMainBottom #assetItemTable thead {
	position: sticky;
  top: 0px;
}
#mainBottom #itemTable thead,
#assetMainBottom #assetItemTable thead {
	padding: 1em;
	color: white;
	background-color: var(--Gray800);
}
table.dataTable thead {
	color: white;
  background-color: var(--Gray800);
}

#mainBottom tbody tr:nth-child(odd),
#mainBottom tbody tr:nth-child(odd) td input,
#assetMainBottom tbody tr:nth-child(odd),
#assetMainBottom tbody tr:nth-child(odd) td input {
	background-color: white;
}
input.disableSwitch:not([disabled]) {
	border: 1px solid black !important;
}

#mainBottom tbody tr:nth-child(even),
#mainBottom tbody tr:nth-child(even) td input,
#assetMainBottom tbody tr:nth-child(even),
#assetMainBottom tbody tr:nth-child(even) td input {
	background-color: var(--Gray100);
}

#mainBottom thead th,
#mainBottom tbody td{
	height: 2.5em;
	min-width: 5em;
	vertical-align: middle;
	padding: 0 1em;
}
#assetMainBottom thead th,
#assetMainBottom tbody td {
	width: fit-content;
	min-width: 2em;
	height: 2.5em;
	padding: 0 1em;
	white-space: nowrap;
	vertical-align: middle;
}

#mainBottom thead th:nth-child(1),
#mainBottom tbody td:nth-child(1),
#assetMainBottom thead th:nth-child(1),
#assetMainBottom tbody td:nth-child(1) {
	min-width: 1em !important;
}
#mainBottom thead th:nth-child(2),
#mainBottom tbody td:nth-child(2) {
	min-width: 2em !important;
}
#mainBottom thead th:nth-child(3),
#mainBottom tbody td:nth-child(3) {
	min-width: 10em !important;
}

#mainBottom thead th:nth-child(1),
#mainBottom thead th:nth-child(2) {
	text-align: center;
	padding: 0 1em;
}
#mainBottom tbody td:nth-child(2) {
	width: 3em !important;
}
#mainBottom thead th:last-child > span {
	margin-left: 4px;
}
#mainBottom thead th:last-child,
#mainBottom tbody td:last-child {
	width: 4em;
}

#mainBottom tbody td:nth-child(1),
#assetMainBottom tbody td:nth-child(1),
#assetMainBottom tbody td:nth-child(2) {
	width: 2em;
	padding: 0em;
}
#assetMainBottom tbody td:last-child.block {
	display: table-cell !important;
}
#mainBottom tbody td:last-child,
#assetMainBottom tbody td:last-child {
/* 	width: calc(16px * 4); */
/* 	max-width: calc(16px * 4); */
	display: flex;
	align-items: center;
	justify-content: space-around;
/* 	border: 1px solid red; */
}
#assetMainBottom thead th:nth-child(2) {
	width: 2em;
	text-align: center;
}
#assetMainBottom tbody td:nth-child(2) {
	text-align: center;
}


#mainBottom tbody td:nth-child(2) input,
#assetMainBottom tbody td:nth-child(2) input {
	text-align: center;
}
#mainBottom tbody td:nth-child(3) input {
	width: calc(100% - 4em);
	padding-left: 12px;
	padding-right: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
/* 	border: 1px solid red; */
}
.favoriteItem{
/* 	width: calc(100% - 4em); */
	width: 50%;
	display: inline-block;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: 0em;
	border: 1px solid var(--Gray600);
}


#assetMainBottom tbody td:nth-child(3) input {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mainBottom tbody td input,
#assetMainBottom tbody td input {
	width: 100%;
	background-color: var(--Gray200);
	border-width: 0;
}


#itemTable_wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.dataTables_empty {
	display: table-cell !important;
}

#dataTableSum {
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: 0;
    max-height: 1.5em;
}
.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    margin-top: auto;
    margin-bottom: 0;
}
/* main */


/* 大 */
@media(max-width: 1366px) {}

/* 中 */
@media(max-width: 1199px) {}

/* 細 直 */
@media(max-width: 500px) {
	#side {
		min-width: 300px
	}
	#main {
		min-width: 1000px
	}
	.modalTitle {
		width: 50%;
	}
/* 	#attrSettingModal #attrListWrapper > div { */
/* 	    padding: 0.5em 0em; */
/* 	} */
/* 	#attrSettingModal #attrListWrapper > div > span:first-child { */
/* 		width: 17%; */
/* 		padding-right: 0.5em; */
/* 	} */
/* 	#attrSettingModal #attrListWrapper > div > span { */
/* 		padding-right: 0; */
/* 		width: 58%; */
/* 	} */
/* 	#attrSettingModal #attrListWrapper > div > span:last-child { */
/* 		width: 25%; */
/* 		justify-content: center; */
/* 	} */
	#attrListWrapper .form-switch {
		display: flex;
		justify-content: center;
	}
	.modal-content {
		width: 100vw !important;
		overflow: scroll !important;
/* 		border: 1px solid blue; */
	}
	.modal-content .modal-body {
		height: fit-content !important;
		width: 600px !important;
/* 		border: 1px solid red; */
	}
	#normalTableBody {
/* 		border: 1px solid green; */
		overflow-y: scroll !important;
	}
	#lumpSumBody > * {
    margin-right: 0.5em;
	}
	#lumpSumWrapper .form-floating {
		min-width: 35%;
		width: fit-content;
	}
}
.swal2-confirm {
	position: absolute;
	display: none !important;
}
.fitContent {
	width: fit-content !important;
/* 	border: 1px solid red; */
}


